:root {
    --branco: #FFF;
    --rosa: #F5989D;
    --rosa-claro: #FFC4B2;
    --laranja: #F69679;
    --cinza: #808080;

    --branco-transparente: #FFFFFFAA;
    --rosa-claro-transparente: #FFC4B2AA;
}
